@font-face {
    font-family: 'StardewFont';
    src: url('/fonts/StardewValley.ttf') format('truetype');
}

:root {
    --btn-font-color: #ce5252;
    --btn-background-color: #ffd789;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'StardewFont', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/originals/95/26/f0/9526f08c1e26dcb4f6b9afd9d76af8ab.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 20px;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
}

/* Modal */
.end-game-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #0000003b;
    visibility: visible;
}

.end-game-modal-displayed {
    position: relative;
    width: 600px;
    height: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/src/img/frame-modal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 10px;
    box-shadow: 0px 4px 18px -1px rgba(0, 0, 0, 0.74);
    animation: showModal 0.2s linear 0s;
}

@keyframes showModal {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.modal-title {
    font-size: 2.5rem;
    color: rgb(56, 56, 56);
    letter-spacing: 1px;
    background-image: url("/src/img/frame-name.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 65px;
    text-align: center;
    padding-top: 5px;
}

.modal-final-score {
    font-size: 1.8rem;
    margin-bottom: auto;
}

.chicken-img {
    position: absolute;
    width: 100px;
    bottom: 80px;
}

.modal-btn {
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    background-image: url("/src/img/button-frame.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #578618;
}

/* Home */
.home-container,
.characters-cards-container {
    flex-grow: 1;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.home-title {
    transform: translateY(-600px);
}

.home-title-displayed {
    width: 90%;
    max-width: 700px;
    height: auto;
    transition: 3s transform ease;
    transform: translateY(0px);
    animation: breathe 1s linear 3s;
}

.difficulty-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

@keyframes show-diff-btn {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

.difficulty-btn-easy,
.difficulty-btn-medium,
.difficulty-btn-hard {
    visibility: hidden;
    width: 200px;
    height: 155px;
    padding-bottom: 30px;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 10px;
    color: var(--btn-font-color);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: show-diff-btn 1s ease normal forwards;
    transition: 0.5s transform ease;
}

.difficulty-btn-easy:hover,
.difficulty-btn-medium:hover,
.difficulty-btn-hard:hover {
    transform: scale(1.05);
}

.difficulty-btn-easy {
    background-image: url("/src/img/easy-btn-background.png");
    animation-delay: 4s;
}

.difficulty-btn-medium {
    background-image: url("/src/img/medium-btn-background.png");
    animation-delay: 4.2s;
}

.difficulty-btn-hard {
    background-image: url("/src/img/hard-btn-background.png");
    animation-delay: 4.4s;
}

/* Character cards */
.game-container {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.best-score {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.3rem;
    color: white;
}

.game-title {
    width: 90%;
    max-width: 450px;
    height: auto;
    animation: show-game-title 1s ease 0s 1 normal forwards;
}

@keyframes show-game-title {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(0px);
    }
}

.characters-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.character-card-front {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.2s transform ease;
    transform: translateX(0px);
    border: none;
}

.character-card-inner {
    transform: translateX(1000px);

}

.character-card-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 240px;
    overflow: hidden;
    background-image: url("/src/img/frame.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.character-card-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    z-index: 0;
    margin-bottom: 40px;
}

.character-card-name {
    position: absolute;
    bottom: 15px;
    text-align: center;
    font-size: 1.8rem;
}

.progress-text {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

/* Mediaqueries */
@media(max-width: 600px) {

    .difficulty-btn-easy,
    .difficulty-btn-medium,
    .difficulty-btn-hard {
        width: 160px;
        height: 120px;
        font-size: 2rem;
        font-weight: 500;
    }

    .character-card-frame {
        width: 235px;
        height: 200px;
    }

    .character-card-img {
        width: 120px;
        height: auto;
        margin-bottom: 28px;
    }

    .character-card-name {
        bottom: 15px;
        font-size: 1.5rem;
    }

}